.Nav {
  background-color: rgba(1, 1, 1, 0.7);
  padding: 15px 0;
}

.Nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Nav__link {
  color: white;
  text-decoration: none;
}

.Nav__link:hover {
  color: white;
  text-decoration: none;
}

.ForgotPassword {
  text-align: center;
  font-size: 0.8em;
}
