.Pricing__card {
  text-align: center;
}

.Pricing__cardDescription {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.Pricing__cardDescription--text {
  /* padding-top: 0.5em; */
  padding-bottom: 0.5em;
}
